---
import Image from "astro/components/Image.astro";
import SimpleButton from "./UI/SimpleButton.astro";
interface Props {
  name?: string;
  description?: string;
  srcImageName?: any;
  altImage?: any;
  siteUrl: string;
}
const { name, description, srcImageName, altImage, siteUrl } = Astro.props;
{
  /* dark:bg-gray-800 dark:border-gray-700 
en caso de querer usar dark slass */
}
---

<div
  class="max-w-sm border justify-center text-white border-gray-200 rounded-2xl shadow-sm"
>
  <div
    class="flex mx-auto align-baseline justify-center p-3 rounded-b-2xl shadow-purple-900"
  >
    <Image
      src={srcImageName}
      alt={altImage}
      class="h-64 w-full object-cover rounded-t-lg"
      }
    />
  </div>
  <div class="p-4">
    <a href="#">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-900"
      >
        {name}
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-800 dark:text-gray-900 md:min-h-24">
      {description}
    </p>
    <a href={siteUrl} target="_blank">
      <SimpleButton textBtn="Visitar sitio" />
    </a>
  </div>
</div>
