---
import Image from "astro/components/Image.astro";
import SimpleButton from "./UI/SimpleButton.astro";
interface Props {
  name?: string;
  description?: string;
  srcImageName?: any;
  altImage?: any;
  siteUrl: string;
}
const { name, description, srcImageName, altImage, siteUrl } = Astro.props;
---

<div
  class="max-w-sm border text-white border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
>
  <a href="#">
    <div class="flex mx-auto align-baseline justify-center">
      <Image
        src={srcImageName}
        alt={altImage}
        class="h-48 w-full object-cover rounded-t-lg"
        }
      />
    </div>
  </a>
  <div class="p-5">
    <a href="#">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {name}
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-800 dark:text-gray-900">
      {description}
    </p>
    <a href={siteUrl} target="_blank">
      <SimpleButton textBtn="Visitar sitio" />
    </a>
  </div>
</div>
